.footer {
    display: flex;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
    background: linear-gradient(to right, #366030, #6B9C21);
    margin-bottom: .5rem;
  }
  
  .footer h3 {
    color: #fff;
    font-size: 2rem;
  }
  .footer_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-contact {
    text-align: left;
    padding:1rem 3rem;
  }
  
  .footer-contact p {
    margin-bottom: 5px;
  }
  ul li{
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
    margin-top: 1rem;
  }
  .form_container_main {
    display: flex;
    justify-content: space-between;
    /* padding: 1rem 2rem; */
    background-color: rgb(255, 255, 255);
    margin-right: 30rem;
    border-radius: 2rem;
    border: 1px solid red;
    outline: none;
    gap: 2rem;
    /* min-width: 50rem; */
  }
  
  .form_container_left{
    border: 1px solid red;
    padding: 2rem;
    min-width: 100%;
  }
  .form_container_right{
    border: 1px solid red;
    padding-right: 50rem;
    width: 12rem;

  }
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .textarea-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
 .form_container_main label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
 .form_container_main input,
  .form_container_main textarea {
    padding: 0 .5rem;
    border: none;
    border-bottom: 1px solid rgb(77, 77, 77);
  }
  
  .form_container_main button {
    padding: 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
  }
  
  

  @media (min-width: 768px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .footer-contact {
      margin-right: 20px;
    }
  
    .footer-form {
      margin-top: 0;
    }
  }
  