.home_container {
  background-image: url("/assets/mara.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10rem;
  padding-left: -2rem;
  background-size: 100%;
}
.home_content {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 3rem 8rem;
  gap: 0.2rem;
}
.home_content h1 {
  font-size: 5rem;
  color: rgb(35, 85, 37);
  font-weight: bolder;
  margin-bottom: 1rem;
}
.home_content p {
  font-size: 1.2rem;
}
.home_content button {
  display: flex;
  align-items: center;
  padding: 0.9rem 1.5rem 1rem 3rem;
  border-radius: 2rem;
  gap: 1rem;
  font-size: 1rem;
  border: none;
  background: linear-gradient(to right, #366030, #6b9c21);
  margin-top: 2rem;
  color: rgb(255, 255, 255);
}
.button_cont {
  gap: 1rem;
}
.images {
  display: flex;
  align-items: baseline;
  background: none;
  margin-top: 3rem;
}
.images img {
  width: 7rem;
}
.main_image_display {
  background-color: #ffffff;
  padding: 0.5rem 5rem 0.2rem 5rem;
}
.our_brands {
  font-size: 2rem;
  padding: 1.5rem;
}
.main_hr {
  border: 1px solid rgb(67, 67, 67);
}
.icons_desc {
  color: rgb(255, 255, 255);
  background-color: #6b9c21;
}
.container {
  padding: 1rem;
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 1rem;
  margin-top: 0;
}
.heading_span {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.heading_span span {
  font-size: 1.2rem;
  font-weight: 700;
}
.water_mark {
  margin-left: -3rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.myco_color {
  background: -webkit-linear-gradient(rgb(40, 86, 53), rgb(131, 11, 116));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mar_color {
  background: -webkit-linear-gradient(rgb(24, 55, 24), rgb(38, 126, 47));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.si_color {
  background: -webkit-linear-gradient(rgb(144, 193, 40), rgb(33, 69, 49));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pr_color {
  background: -webkit-linear-gradient(rgb(156, 22, 30), rgb(146, 4, 106));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ph_color {
  background: -webkit-linear-gradient(rgb(60, 30, 128), rgb(60, 30, 128));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.column-33 {
  float: left;
  width: 33.33333%;
  padding: 10px;
}
.column-33 img {
  width: 40rem;
  height: 27em;
}
.product_description {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1rem 0;
}
.description p {
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.large-font {
  font-size: 28px;
  display: flex;
  flex-direction: row;
  margin: 0 0 0.5rem 0;
  color: rgb(2, 84, 2);
  font-weight: 600;
}
.large-font_def {
  padding-left: 2rem;
}

.xlarge-font {
  font-size: 64px;
  padding-right: -5rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  color: rgb(255, 255, 255);
  padding: 0.5rem 0.5rem 0.5rem 1.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: linear-gradient(to right, #366030, #6b9c21);
  border-radius: 2rem;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media (min-width: 380px) and (max-width: 980px) {
  .home_container {
    padding-top: 4rem;
    padding-left: 1rem;
    background-size: cover;
    font-weight: bold;
  }
  .home_content {
    display: flex;
    padding: 1rem;
    gap: 0rem;

  }
  .home_content h1 {
    font-size: 2.5rem;

  }
  .main_image_display {
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1px solid red;

  }
  .container {
    display: flex;
    padding: 1rem;
    margin: 0;
  }
  .row {
    display: flex;
    flex-direction: column;
    margin-top: .2rem;
    padding: 1rem 2rem;
  }
  .column-33 img {
    min-width: 400px;
    height: 350px;
  }
  .xlarge-font {
    font-size: 24px;
    /* padding-right: 10rem; */
    gap: 1rem;
    text-align:center;
  }
  .heading_span {
    justify-content: space-between;
    gap: .5rem;
    w100%
  }
  .heading_span span {
    font-size: 1rem;
    font-weight: 700;
  }
  .water_mark {
    margin-left: -1rem;
    margin-top: 1rem;
    font-size: .9rem;
  }
  .row_reverse{
    display: flex;
    flex-direction: column-reverse;
  }
}
