.home_container {
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.home_content {
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  gap: 0.2rem;
}
.home_content h1 {
  font-size: 3.5rem;
  color: rgb(54, 96, 48);
}
.home_content p {
  font-size: 1.2rem;
}
.home_content button {
  display: flex;
  align-items: center;
  padding: 1rem .9rem 1rem 2rem;
  border-radius: 2rem;
  gap: 1rem;
  font-size: 1rem;
  border: none;
  background: linear-gradient(to right, #366030, #6b9c21);
  margin-top: 2rem;
  color:rgb(255, 255, 255);
}
.button_cont {
  gap: 1rem;
}
.images {
  display: flex;
  align-items: baseline;
  background: none;
  margin-top: 3rem;
}

.main_image_display{
  background-color: #ffffff;
  padding: .5rem 5rem .2rem 5rem;
  
}
.our_brands {
  margin-right: 5rem;
  margin-left: 5rem;
  /* border: 1px solid red; */
  padding: 0.5rem;
}
.main_hr {
  border: 2px solid rgb(56, 56, 56);
}

.container {
    padding: 1rem;
    border: 1px solid red;
    margin: 0;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    border: 1px solid red;

  }
  
  .column-66 {
    float: left;
    width: 66.66666%;
    padding: 10px;
    /* border: 1px solid red; */
    margin-top: 0;
  }
  
  .column-33 {
    float: left;
    width: 33.33333%;
    padding: 10px;
    /* border: 1px solid red; */
  }
  .column-33 img{
    width: 40rem;
    height: 30rem;
    background-color: transparent;
  }
  .product_description{
    display: flex;
    flex-direction: column;
    margin: .5rem 0 1rem 0;
  }
  .description  p{
    padding: .5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .large-font {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    margin: 0 0 .5rem 0;
  }
  .large-font_def{
    padding-left: 2rem;
  }
  
  .xlarge-font {
    font-size: 64px;
  }
  
  .button {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    color:rgb(255, 255, 255);
    padding: .5rem .5rem .5rem 1.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    background: linear-gradient(to right, #366030, #6b9c21);
    border-radius: 2rem;
  }
  
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
      width: 100%;
      text-align: center;
    }
    img {
      margin: auto;
    }
  }